<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231606676531-hklc7k2fgomteu6i1foa9dtequq4vbra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231606676531-hklc7k2fgomteu6i1foa9dtequq4vbra</string>
	<key>API_KEY</key>
	<string>AIzaSyAG6mv5ioJnbiSTc8BhyRVnQssI7v6yeG0</string>
	<key>GCM_SENDER_ID</key>
	<string>231606676531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.okaryo.cleanArchitectureTodoApp</string>
	<key>PROJECT_ID</key>
	<string>main-lms</string>
	<key>STORAGE_BUCKET</key>
	<string>main-lms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231606676531:ios:a4020bdc67f112598f0746</string>
</dict>
</plist>